In [1]:
7+5

12

In [2]:
8-5

3

In [3]:
5/2

2.5

In [4]:
5*2

10

In [5]:
5**2

25

In [6]:
5**3

125

In [7]:
5%2

1

In [8]:
10%5

0

In [9]:
5//2

2

In [10]:
5+4/2*4-6/2**2

11.5

In [11]:
12var=15

SyntaxError: invalid syntax (<ipython-input-11-f996e73a86e2>, line 1)

In [12]:
$var=20

SyntaxError: invalid syntax (<ipython-input-12-96771015c9fb>, line 1)

In [13]:
name_of_var=15

In [14]:
name_of_var

15

In [15]:
a=20

In [16]:
x=4
y=8

In [19]:
x=x+x

In [18]:
x

8

In [20]:
x

16

In [21]:
str='hello'

In [22]:
str

'hello'

In [23]:
type(str)

str

In [24]:
str1='hello'

In [25]:
str1

'hello'

In [26]:
type(str1)

str

In [ ]:
str2=

In [27]:
s2="123"

In [28]:
type(s2)

str

In [29]:
s3='123'

In [30]:
s2+s3

'123123'

In [31]:
s2+5

TypeError: can only concatenate str (not "int") to str

In [32]:
str1[0]

'h'

In [33]:
str1[0:]

'hello'

In [34]:
str1[2]

'l'

In [35]:
str1[0:]

'hello'

In [36]:
str1[0:3]

'hel'

In [37]:
str1[1:4]

'ell'

In [38]:
str1[:3]

'hel'

In [39]:
s3='abcdefghijk'

In [40]:
s3[3:6]

'def'

In [41]:
s3[::-1]

'kjihgfedcba'

In [42]:
a=50
b='sachin'

In [45]:
'my name is {}and my number is{}'.format(b,a)

'my name is sachinand my number is50'

In [46]:
'my name is {one} and my number is {two}'.format(one=b,two=a)

'my name is sachin and my number is 50'

In [47]:
'my name is {one} and my number is {two},{one}'.format(one=b,two=a)

'my name is sachin and my number is 50,sachin'

In [50]:
import pyttsx3
engine=pyttsx3.init()
engine.say('hello im learning python for data science')
engine.runAndWait()

In [51]:
import os

In [52]:
os.getcwd()

'C:\\Users\\USER'